.desc {
  text-align: center;
  width: 800px;
  margin: 130px auto;

  h1 {
    font-size: 80px;
    font-family: bold;
  }

  h3 {
    font-size: 40px;
    font-family: bold;
  }
}

.img {
  height: 770px;
  width: 100%;
  border-radius: 40px;
}

.twoColumns {
  display: flex;
  width: 100%;
  margin: 210px 0px;
  padding: 40px;

  .weShoot {
    width: 50%;

    h3 {
      font-size: 40px;
      line-height: 46px;
      font-family: bold;
    }

    p {
      font-size: 20px;
      line-height: 30px;
      margin-top: 30px;
      font-family: regular;
    }
  }

  .brands {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;

    img {
      width: 200px;
    }
  }
}

.philo {
  height: 660px;
  display: flex;

  img {
    width: 660px;
    height: 660px;
    border-radius: 40px;
  }
  div {
    width: 50%;
    padding: 68px;
    position: relative;

    h3 {
      font-size: 60px;
      font-family: bold;
      margin-bottom: 25px;
    }

    p {
      font-size: 20px;
      line-height: 30px;
      font-family: regular;
    }

    img {
      width: 504px;
      height: 297px;
      margin-top: 150px;
      position: absolute;
      right: 0;
    }
  }
}

.big {
  width: 100%;
  margin: 188px 0px;
  border-radius: 40px;
  height: 770px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: bold;
  color: white;
  text-align: center;
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }

  h4 {
    width: 900px;
  }
}

.team {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .forced {
    width: 198px !important;
    height: 66px !important;
    font-size: 19.84px !important;
    transform: translateX(40px);
  }
  h1 {
    font-size: 110px;
    font-family: bold;

    span {
      font-size: 60px !important;
    }
  }

  .members {
    margin-top: 75px;
    margin-bottom: 170px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    img {
      height: 476px;
      border-radius: 40px;
    }
  }

  h3 {
    font-size: 40px;
    line-height: 48px;
    width: 940px;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 600px) {
  .desc {
    width: 100%;
    text-align: left;
    margin: 50px auto;
    h1 {
      font-size: 30px !important;
    }
    h3 {
      font-size: 20px;
    }
  }

  .img {
    height: 213px;
    border-radius: 20px;
  }

  .twoColumns {
    flex-direction: column;
    margin: 50px 0px;
    padding: 0;

    .weShoot {
      width: 100%;

      h3 {
        font-size: 20px;
        line-height: 24px;
      }

      p {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  .brands {
    width: 100% !important;
    margin-top: 20px;
    flex-direction: row !important;
    justify-content: space-evenly;

    img {

        width: 111px !important;
        height: 74px !important;

    }
  }



  .philo {
    flex-direction: column;

    img {
      width: 330px;
      height: 330px;
      margin: auto;
      border-radius: 20px;
    }

    div {
      width: 100%;
      padding: 0;
      margin-top: 40px;

      h3 {
        font-size: 24px;
      }

      p {
        font-size: 16px;
        line-height: 24px;
      }

      img {
        width: 100%;

        position: relative;
        margin-top: 50px;
        height: 205px
      }
    }
  }

  .big {
    margin: 50px 0px;
    border-radius: 20px;
    font-size: 20px;
    padding: 20px;
    height: 450px;
  }

  .team {
    h1 {
      font-size: 44px;
      text-align: left !important;
      line-height: 31px;

      span {
        font-size: 24px !important;
      }
    }

    .members {
      margin-top: 30px;
      margin-bottom: 70px;
      padding: 0px 10px;
      overflow-x: scroll;
      width: 120%;
      justify-content: flex-start;

      img {
        height: 387px;
        margin: 0px 5px
      }
    }

    h3 {
      font-size: 20px;
      line-height: 26px;
      width: 100%;
    }

    .forced {
      display: inline !important;
      width: 198px !important;
      height: 66px !important;
      font-size: 19.84px !important;
    }
  }
}
