.accordion {
  background: black;
  color: white;
  padding: 20px 40px;
  border-radius: 35px;
  margin-bottom: 10px;

  .accordion_title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      

    h3 {
      font-size: 20px;
      font-family: bold;
      line-height: 20px;
    }
  }

  .accordion_body {
    margin-top: 25px;

    p {
      font-size: 16px;
      line-height: 24px;
      font-family: regular;
      margin-bottom: 25px;
    }

    h4 {
      font-size: 16px;
      line-height: 24px;
      font-family: bold;
      margin-bottom: 25px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .accordion_title {
    h3 {
      font-size: 16px !important;
    }
  }
}