* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: regular;
  src: url('/assets/fonts/regular.otf');
}

@font-face {
  font-family: light;
  src: url('/assets/fonts/light.ttf');
}

@font-face {
  font-family: bold;
  src: url('/assets/fonts/bold.ttf');
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden !important;
}

html::-webkit-scrollbar {
  background-color: white;
  width: 8px;
}

html::-webkit-scrollbar-thumb {
  background-color: black;
}


.mapouter {
  position: relative;
  text-align: right;
  height: 100%;
  width: 700px;


  iframe {
    width: 100%;
    height: 590px;
  }
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 590px;
  width: 700px;
}

@media only screen and (max-width: 600px) {
  .mapouter {
    height: 300px;
    iframe {
      height: 370px
    }
  }

  
}
